.cus-icon {
    width: 41px;
    height: 41px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #141414;
}